Jinja2==2.8
Markdown==2.6.2
MarkupSafe==0.23
PyJWT==1.4.0
aiohttp==0.17.2
aiohttp_ac_hipchat==0.3.6
#-e ../aiohttp_ac_hipchat
aiohttp-jinja2==0.5.0
arrow==0.6.0
git+https://github.com/mongodb/motor.git#egg=motor
#asyncio-redis==0.14.1
-e git+https://github.com/mrdon/asyncio-redis.git#egg=asyncio-redis-mrdon
bleach==1.4.1
cchardet==0.3.5
chardet==2.3.0
gunicorn==19.3.0
hiredis==0.2.0
html5lib==0.999999
python-dateutil==2.4.2
pytz==2015.4
six==1.9.0
